﻿@model IEnumerable<Project_N01543896.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2 class="text-center">List of Teachers</h2>

<div id="containerlist">
    @foreach (var teacher in Model) {
        <div class="listitem row">
            <div class="col-md-12 m-2"><a href="/Teacher/Show/@teacher.teacherId">@teacher.teacherFName @teacher.teacherLName</a></div>
        </div>
    }
</div>
